<div class="sidebar">
    
    <div class="main-icon">
        <div class="bigger-icon popping">
            <p class="left-icon">S</p>
            <p class="right-icon">S</p>
        </div>
        <p></p>
        <div class="bigger-icon right popping">
            <p class="left-icon">L</p>
            <p class="right-icon">L</p>
        </div>

    </div>
    <div class="cover" [ngClass]="loadingService.loading?'active':'inactive'"></div>
    <div class="sidebar-elements">
        
        <a mat-button  (click)="changeRoute(0)">
            <div class="box" [ngClass]="isActive(0)?'active':'inactive'">
                <img src="assets/img/home.png">
            </div>
        </a>
    
        <a mat-button (click)="changeRoute(1)">
            <div class="box" [ngClass]="isActive(1)?'active':'inactive'">
                <img src="assets/img/user.png">
            </div>
        </a>
        <a mat-button  (click)="changeRoute(2)">
            <div class="box" [ngClass]="isActive(2)?'active':'inactive'">
                <img src="assets/img/technology.png">
            </div>
        </a>
        <a mat-button (click)="changeRoute(3)" >
            <div class="box" [ngClass]="isActive(3)?'active':'inactive'">
                <img src="assets/img/send.png">
            </div>
        </a>
    </div>

</div>

