.sidebar{
    position: absolute;
    height: 100%;
    background-color:#272424;
    width: 5.5em;
    color: green;
    z-index: 1;
}
.sidebar-elements{
    position: relative;
    height: 100%;
    transform: scale(0.4);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
img{
    margin: 10em;
}
.mat-mdc-button {
    transform: scale(0.5);
    margin: 7.5em 0px 7.5em 0px;
}
.active{
    background-color: #b3b2b075;
}