<div class="sidebar">
    <div class="main-icon">
        <div class="bigger-icon popping">
            <p class="left-icon">S</p>
            <p class="right-icon">S</p>
        </div>

    </div>
    <div class="sidebar-elements">
        
        <a mat-button routerLink="" >
            <div class="box" [ngClass]="isActive(0)?'active':'inactive'">
                <img src="assets/img/home.png">
            </div>
        </a>
    
        <a mat-button routerLink="about">
            <div class="box" [ngClass]="isActive(1)?'active':'inactive'">
                <img src="assets/img/user.png">
            </div>
        </a>
        <a mat-button routerLink="skills">
            <div class="box" [ngClass]="isActive(2)?'active':'inactive'">
                <img src="assets/img/technology.png">
            </div>
        </a>
        <a mat-button routerLink="contact" >
            <div class="box" [ngClass]="isActive(3)?'active':'inactive'">
                <img src="assets/img/send.png">
            </div>
        </a>
    </div>

</div>

