.sidebar{
    position: absolute;
    height: 100%;
    background-color:#272424;
    width: 4em;
    color: green;
    z-index: 1;
}
.sidebar-elements{
    position: relative;
    height: 100%;
    transform: scale(0.4);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
img{
    margin: 6em;
}
.mat-mdc-button {
    transform: scale(0.5);
    margin: 5em 0px 5em 0px;
}
.active{
    background-color: #b3b2b075;
}

.main-icon{
    display: flex;
    justify-content: center;
    height: 5em;
    position: absolute;
    width: 4em;
    background-color: #00000057;
}

.bigger-icon{
    color: wheat;
    
    display: flex;
    
    
}

.right{

    margin-left: 1em;
    margin-bottom: 1em;
    
}
.bigger-icon .right-icon{
   
    color:rgb(72, 30, 47) ;
    align-items: center;
    display: flex;
    justify-content: center;
    transform: scale(2.7);
    
}
.bigger-icon .left-icon{
    color:rgb(2, 44, 60) ;
    margin-right: -13px;
    
    align-items: center;
    display: flex;
    justify-content: center;
    transform: scale(2.7);
}