/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    background-color:rgb(32, 30, 35);
}
p{margin: 0;}

@font-face {
    font-family: 'Chakra Petch';
    src: url('assets/font/Chakra_Petch/ChakraPetch-Medium.ttf');
  }

p{
    font-family: "Chakra Petch";
}
span{
    font-family: "Chakra Petch";
}
.popping:hover{
    font-weight: bold;
    
    color: aquamarine;
}

.content{
    position: absolute;
    display: flex;
    width: 100%;
    min-height: 100%;
    align-items: center;
}


.intro{
    position: relative;
    margin-left: 2em;
    color: white;
    font-size: xxx-large;
    width: max-content;
}


.left-content{
    flex-grow: 1;
}
.right-content{
    flex-grow: 1;
}