/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    background-color:rgb(32, 30, 35);
}
p{margin: 0;}

@font-face {
    font-family: 'Chakra Petch';
    src: url('assets/font/Chakra_Petch/ChakraPetch-Medium.ttf');
  }

p{
    color: wheat;
    font-family: "Chakra Petch";
}
span{
    font-family: "Chakra Petch";
}
.popping:hover {
    z-index: 1; /* porta la lettera selezionata in primo piano */
    color: aquamarine;
    animation-name: bouncing; /* specifica il nome dell'animazione */
    animation-duration: 2s;
    animation-fill-mode: forwards; 
}
.popping {
    font-weight: bold;
    display: inline-flex; 
    animation: bounc-up 0.5s, bounc-down 0.5s; /* specifica entrambe le animazioni */

    animation-fill-mode: forwards; /* indica che l'animazione deve continuare a essere applicata anche quando non è in esecuzione */
}
  

  
.content{
    position: absolute;
    display: flex;
    width: 100%;
    min-height: 100%;
    align-items: center;
}


.intro {
    margin-left: 2em;
    color: white;
    font-size: xxx-large;
  }

.left-content{
    flex-grow: 1;
}
.right-content{
    flex-grow: 1;
}
@keyframes bouncing {
    0% {
      transform: scaleY(1) scaleX(1);
    }
    20%{
        transform: scaleY(0.7) scaleX(1.3);
    }
    40% {
      transform: scaleY(1.3) scaleX(0.7); /* dimensione ridotta del 10% */
    }
    60%{
        transform: scaleY(0.85) scaleX(1.15);
    }
    80%{
        transform: scaleY(1.15) scaleX(0.85);
    }
    100% {
      transform: scaleY(1) scaleX(1); 
    }
  }




  @keyframes bounc-up {
    0% {
      transform: scaleY(1) scaleX(1);
    }
    50%{
        transform: scaleY(0.7) scaleX(1.3);
    }
    100% {
      transform: scaleY(1) scaleX(1);
    }
    
  }
  @keyframes bounc-down {
    
    0%{
        transform: scaleY(0.85) scaleX(1.15);
    }
    50%{
        transform: scaleY(1.15) scaleX(0.85);
    }
    100% {
      transform: scaleY(1) scaleX(1); /* dimensione originale */
    }
  }

  mat-progress-bar .mat-progress-bar-buffer {
    background-color: #3f8dca;
  }