.bigger-icon{
    color: wheat;
    transform: scale(50) rotate(-20deg);
    display: flex;
    justify-content: center;
    width: fit-content;
    
}
.bigger-icon .right-icon{
    background: -webkit-linear-gradient(rgb(72, 30, 47),rgb(2, 44, 60));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: 0.75em;
    width: 0.5em;
    align-items: center;
    display: flex;
    justify-content: center;
}
.bigger-icon .left-icon{
    background: -webkit-linear-gradient(rgb(2, 44, 60),rgb(72, 30, 47));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: -9px;
    height: 0.75em;
    width: 0.5em;
    align-items: center;
    display: flex;
    justify-content: center;
}

.subtext{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    color: gray;
}
