<div class="content">
    <div class="left-content">
        <div class="intro">
            <p class="popping">
                CIAO,
            </p>
            <p class="popping">
                SONO SIMONE,
            </p>
            <p class="popping"> Sviluppatore.</p>
            <span class="subtext">Data scientist | Fullstack developer | Freelancer</span>
        </div>
    
    </div>

    <div class="right-content">
        <div class="">
            <div class="bigger-icon popping">
                <p class="left-icon">S</p>
                <p class="right-icon">S</p>
            </div>
            
        </div>
    </div>
</div>
